.mat-column-host {
    width: 3em;

    mat-icon {
        margin-top: 5px;
    }
}

input.hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}
