<mat-card>
    <mat-card-title>
        Create a game
    </mat-card-title>


    <!-- Game Creation form -->
    <ng-container *ngIf="!WaitingForGame">
        <mat-card-content>

            <mat-form-field appearance="outline">
                <mat-label>Enter Player name</mat-label>
                <input matInput required [(ngModel)]="PlayerName" #name="ngModel" placeholder="Player Name"
                    minlength="1" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Number of rounds</mat-label>
                <mat-select [(ngModel)]="NumberRounds">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Questions per round</mat-label>
                <mat-select [(ngModel)]="NumberQuestions">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button [disabled]="name.invalid" (click)="name.valid && CreateGame()">Create</button>
        </mat-card-actions>
    </ng-container>

    <!-- Game ID display for copy / paste -->
    <ng-container *ngIf="WaitingForGame">

        <input #clipboardInput [value]="RoomId" readonly style="opacity: 0; position: fixed; top: 0; left: 0" />

        <mat-card-content style="align-items: center;">
            <mat-progress-spinner mode="indeterminate" *ngIf="!RoomId" diameter="50" strokeWidth="5">
            </mat-progress-spinner>

            <mat-form-field appearance="outline" *ngIf="RoomId">
                <mat-label>Game ID</mat-label>
                <input matInput [value]="RoomId" readonly />
                <mat-icon matSuffix (click)="CopyToClipboard(clipboardInput, $event)">file_copy</mat-icon>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="NavigateToLobby()" [disabled]="!RoomId">Begin</button>
        </mat-card-actions>
    </ng-container>

</mat-card>

<!-- <mat-card-content>
	<mat-progress-spinner mode="indeterminate" *ngIf="!shortUrl" diameter="50" strokeWidth="5">
	</mat-progress-spinner>

	<mat-form-field appearance="outline" *ngIf="shortUrl">
		<mat-label>Short URL to your clip</mat-label>
		<input matInput [value]="shortUrl" readonly />
	</mat-form-field>
</mat-card-content>

<mat-card-actions>
	<button mat-button (click)="copyToClipboard(clipboardInput, $event)">COPY</button>
</mat-card-actions> -->