<div class="modal-overlay" (click)="HandleOverlayClick($event)">
    <mat-card>
        <mat-card-title>
            Create a game
        </mat-card-title>

        <!-- Game Creation form -->
        <mat-card-content>

            <!-- Player Name -->
            <mat-form-field appearance="outline">
                <mat-label>Enter Player name</mat-label>
                <input matInput required [(ngModel)]="PlayerName" #name="ngModel" placeholder="Player Name"
                    minlength="1" />
            </mat-form-field>

            <!-- Rounds -->
            <mat-form-field appearance="outline">
                <mat-label>Number of rounds</mat-label>
                <mat-select [(ngModel)]="NumberRounds">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Questions per round -->
            <mat-form-field appearance="outline">
                <mat-label>Questions per round</mat-label>
                <mat-select [(ngModel)]="NumberQuestions">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button [disabled]="name.invalid" (click)="name.valid && CreateGame()">Create</button>
        </mat-card-actions>
    </mat-card>
</div>