<div *ngIf="!CurrentQuestion" class="category-container">
    <ng-container *ngFor="let c of CategoryOptions">
        <div>
            <button mat-raised-button color="primary" style="margin:10px;"
                (click)="getQuestions(c)">{{ Category[c] }}</button>
        </div>
    </ng-container>
</div>

<br />

<div>
    <div *ngIf="CurrentQuestion" class="stuff">
        <span class="question" [innerHTML]="CurrentQuestion.question"></span>

        <ng-container *ngFor="let answer of RandomiseAnswers(CurrentQuestion)">
            <button mat-raised-button (click)="ChooseAnswer(answer)" [innerHTML]="answer"></button>
        </ng-container>

        <br />
    </div>

    <div class="result-overlay" *ngIf="AnswerResult">
        {{ AnswerResult }}
    </div>
</div>